/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: alarmClock;
  src: url("../fonts/alarm_clock.ttf");
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.flex-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-content {
  flex: 1;
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
}

.bedroom_header {
  height: 100%;
  flex: 1;
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
}

.monitors {
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  overflow-x: hidden;
}

.monitor_left {
  margin: 16px;
  height: 155px;
  width: 265px;
}

.monitor_right {
  margin: 16px;
  height: 155px;
  width: 265px;
}

.monitor_center {
  margin: 33px;
  height: 155px;
  width: 320px;
  overflow: scroll;
  overflow-x: hidden;
}

.monitor_center.scroll {
  overflow: hidden;
}

.scroll_dial {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1200px;
}

.clock {
  position: absolute;
  top: 64.8vh;
  left: 56vw;
  height: 50px;
  font-size: 42px;
  font-family: 'alarmClock';
  color: #FF6E40;
}

.works {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.piece {
  margin: 15px 5px 15px 5px;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  border-bottom: 1px #bababa solid;
}
.piece h2 {
  font-family: 'Josefin Sans';
  text-align: left;
  font-size: 24pt;
  font-weight: 100;
  color: #27a6d4;
  margin: 5px 0 0 10px;
  text-transform: uppercase;
}
.piece a {
  color: #2d464f;
  text-transform: lowercase;
}
.piece a:hover {
  color: #07ace8;
}

.piece_intro {
  margin: 20px 0 20px 0px;
  font-size: 18px;
  text-align: center;
  font-family: 'courier new', monospace;
  font-weight: lighter;
}

.piece_spacer {
  margin: 20px 0 20px 0px;
  font-size: 22px;
}

.piece_text {
  margin: 5px 0 5px 10px;
  padding: 10px;
  font-size: 26px;
  font-family: 'Josefin Sans';
  font-weight: 300;
}
.piece_text p {
  text-align: left;
  line-height: 120%;
}

.piece_image {
  margin: 10px;
  width: 70%;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.table_contents {
  height: 100%;
  overflow: hidden;
  font-size: 45pt;
  text-align: left;
  margin: 15px;
  font-family: 'courier new';
}
.table_contents a {
  opacity: 0;
  color: #9bf3a9;
  text-decoration: none;
}
.table_contents a:hover {
  color: #ffffff;
}
.table_contents a:active {
  color: #3f6144;
}

/* ========== BACKGROUND CHANGES ============= */
.day {
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/flat_room_monitors_day.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.sunset {
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/flat_room_monitors_sunset.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.night {
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../images/flat_room_monitors_night.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}
