/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
*/

@import "compass/reset";
@import "compass";
@font-face {
  font-family: alarmClock;
  src: url('../fonts/alarm_clock.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-main {
  // background-color: #0B0021;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  // border: 2px solid red;
}

.flex-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // border: 2px solid lime;
  }

.flex-content {
  flex:1;
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  // border: 2px solid cyan;
}
.bedroom_header {
  height: 100%;
  flex:1;
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  // border: 2px solid cyan;
}
.monitors{
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  // border: 3px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // background-image: url('/images/flat_room_monitors.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  overflow-x: hidden;
}
.monitor_left{
  margin: 16px;
  // border: 2px dashed yellow;
  height: 155px;
  width: 265px;
}

.monitor_right{
  margin: 16px;
  // border: 2px dashed blue;
  height: 155px;
  width: 265px;
}
.monitor_center{
  margin: 33px;
  // flex: 1;
  // border: 2px dashed green;
  height: 155px;
  width: 320px;
  overflow: scroll;
  // position: absolute;
  overflow-x: hidden;
}
.monitor_center.scroll{
  overflow: hidden;
}
.scroll_dial {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1200px;
  // border: 2px dashed lime;

}

.clock {
  position: absolute;
  top: 64.8vh;
  left: 57.1vw;
  height: 50px;
  font-size: 42px;
  font-family: 'alarmClock';
  color: #FF6E40;
}

.works{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  // border: 2px cyan solid;
  height: 100vh;
}
.piece {
  // border: 2px red solid;
  margin: 15px 5px 15px 5px;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  border-bottom: 1px #bababa solid;
  h2{
    font-family: 'Josefin Sans';
    text-align: left;
    font-size: 24pt;
    font-weight: 100;
    color: #27a6d4;
    margin: 5px 0 0 10px;
    text-transform: uppercase;
  }
  a{
    &:hover {
      color: #07ace8;
    }
    color: #2d464f;
    text-transform: lowercase;
  }
}

.piece_intro{
  // border: 2px purple solid;
  margin: 20px 0 20px 0px;
  font-size: 18px;
  text-align: center;
  font-family: 'courier new', monospace;
  font-weight: lighter;
}
.piece_spacer{
  // border: 2px purple solid;
  margin: 20px 0 20px 0px;
  font-size: 22px;
}
.piece_text {
  // border: 2px orange solid;
  margin: 5px 0 5px 10px;
  padding: 10px;
  font-size: 26px;
  font-family: 'Josefin Sans';
  font-weight: 300;
    p{
      text-align: left;
      line-height: 120%;
    }
}
.piece_image {
  margin: 10px;
  // border: 2px cyan solid;
  width: 70%;
  // float: left;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.table_contents{
  // border: 2px green solid;
  height: 100%;
  overflow: hidden;
  font-size: 45pt;
  text-align: left;
  margin: 15px;
  font-family: 'courier new';
    a {
      opacity: 0;
      color: #9bf3a9;
      text-decoration: none;
      &:hover{
        color: #ffffff;
      }
      &:active{
        color:#3f6144;
      }
    }
}

/* ========== BACKGROUND CHANGES ============= */

 .day {
  //  background: url('http://vignette3.wikia.nocookie.net/darth/images/3/3c/CHEWIE.jpg/revision/latest?cb=20080623000509');
   color: #9bf3a9;
   text-align: center;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;
   font-size: 60pt;
   padding: 5px;
   height: 100vh;
   // border: 3px solid orange;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-image: url('../images/flat_room_monitors.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 1920px 1080px;
 }
.sunset {
  // background: url('http://www.naturewallpaper.eu/desktopwallpapers/sky/1366x768/after-sunset-sky-1366x768.jpg');
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  // border: 3px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../images/flat_room_monitors.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.night {
  color: #9bf3a9;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 60pt;
  padding: 5px;
  height: 100vh;
  // border: 3px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../images/flat_room_monitors.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;

 }
