body {
  margin:0;
  padding:0;
  background: linear-gradient(to top, #0c4655 0%, #050109 100%);
  /*background: #000;*/
  overflow: hidden;
  height: 100vh;
  /*user-select:none;
  -webkit-user-select:none;
  cursor: none;*/
}
#particle-canvas {
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
}

h1{
  font-family: 'Lato';
  font-weight: 100;
  color: #9bf3a9;
  text-align: center;
}


.flex-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin-top: -52%;
  margin-left: 12%;
  z-index: 0;
}
